body {
    background-color: rgb(144, 144, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    background-color: #ffffff;
    width: 800px;
    padding: 50px 100px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.question {
    padding: 20px;
}

p {
    font-weight: bold;
    font-size: 16px;
}

.answer {
    padding: 5px;
}

label {
    margin-left: 10px;
}

#btn {
    width: 100%;
    background-color: rgb(69, 69, 255);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#text {
    font-weight: 400;
    text-align: center;
}